#page{
	width:100%;height:500px;
}
#left{
	float:left;width:50%;height:100%;border:solid 2px #196F3D  ;
	 background: url(image5.jpg);
   background-size: cover;
   position: center;
   background-repeat: no-repeat;
   
   
}
#right{
	float:left;width:50%;height:100%;border:solid 2px #196F3D  ;
background: url(image4.jpg);
   background-size: cover;
   position: center;
   background-repeat: no-repeat;

}
#frm{
	float:top;
   position: center;
   color:#196F3D;
}
